
#navbar {
    border-top: 1px solid #b7b7a4;
    border-bottom: 1px solid #b7b7a4;
}

#navbar-brand{
    color: #6b705c;
    font-family: "Inria Serif";
    font-style: oblique;
    font-weight: 800;
    text-align: center;
    margin: 5px 20px;
}