.bolder h1, .bolder h3, .bolder h4, .bolder h5, #navbar-brand {
    color: #6b705c;
    font-family: 'Inria Serif', sans-serif;
    font-style: oblique;
    font-weight: 800;
}

.lighter address, .lighter p, .lighter ol, .lighter ul {
    color: #333333;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-style: oblique;
    line-height: 1.6;
}

#navbar-brand {font-size: 18px;}

.footer-text {
    color: #F5F5DC;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
}

.separator {
    border: none;
    border-top: 5px double #3f4238;
}

#navbar {
    border-top: 1px solid #b7b7a4;
    border-bottom: 1px solid #b7b7a4;
}

#homepage-hero {
    background-image: url(/Images/cta-banner-picture.jpg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
}

#cta {
    align-items: center;    
    display: flex;
    justify-content: center;
    text-align: center;
}

#cta-content {
    gap: 15px;
    justify-content: center; 
}

#cta-content p {
    color: whitesmoke; 
    font-family: 'Arial', sans-serif;
    font-style: oblique;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px #483C32;
}

.cta-button {
    border: 3px solid #a5a58d;
    border-radius: 50px;
    background-color: white;
    color: #483C32;
    font-weight: 400;
    padding: 8px 25px;
    text-decoration: none;
}

#about-us-container { padding: 5%;}

#about-us-container-right img {
    height: auto;
    max-width: 70%;
    opacity: 0.8;
}

#contact-us-container-right {
    border: 3px double #a5a58d;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px 3px;
} 

#contact-us-container-right a { text-decoration: none;} 

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-info { 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.image-container{
    position: relative;
    height: 350px;
    width: 100%;
}

.product-image {
    border-radius: 10px;
    height: 95%;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}

.view-details-btn {
    position: absolute; 
    top: 50%; 
    left: 50%;
    opacity: 0; 
    transform: translate(-50%, -50%); 
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.image-container:hover .view-details-btn {
    opacity: 1;
    visibility: visible;
}

.modal {
    display: none;  
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);  
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.modal-content {
    background-color: whitesmoke;
    width: 550px;
    height: 420px;
    padding: 10px;
    border: 1px solid #888;
}

.modal-img {text-align: center;}

.product-button {
    background-color: white;
    border: 1px solid #a5a58d;
    border-radius: 30px;
    color: #483C32;
    font-size: 20px;
    font-weight: 400;
    padding: 0 25px;
    text-decoration: none;
}

.product-details h5 {
    color: #6b705c;
    font-family: 'Inria Serif', sans-serif;
}

.product-details{
    margin: 10px;
    font-size: 12px;
    font-style: oblique;
    text-align: center;
}

.purchase-options {text-align: center;}

.quantity-display { 
    border: 1px solid #a5a58d;
    border-radius: 30px;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    width: 60px;
}

.cart-button { 
    background-color: #a5a58d;
    color: whitesmoke;
    margin-left: 10px;
}

.close-button {
color: #aaa;
font-size: 28px;
font-weight: bold;
position: absolute;
top: 10px;
right: 25px;
}

.close-button:hover, .close-button:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#footer-container {background-color: #483C32;}

#footer-container i {padding: 0 3px;}

#copyright {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    font-size: 10px;
}